<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Photo List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>URL</th>
        <th>Visible</th>
        <th>Creation Date</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="photo : ${photoList}">
        <td th:text="${photo.id}"></td>
        <td th:text="${photo.title}"></td>
        <td th:text="${photo.description}"></td>
        <td th:text="${photo.url}"></td>
        <td th:text="${photo.visible}"></td>
        <td th:text="${photo.creationDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>